<div class="container-fluid" id="shop">
	
	<span class="glyphicon glyphicon-edit" aria-hidden="true"><%= link_to 'EDIT PRODUCTS', "/products", :class => 'edit_products' %></span>

	<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"><%= link_to 'CHECKOUT', "/static_pages/orders", :class => 'checkout' %></span>

	<% @products.each do |product| %>
	<div class="row col-sm-12 col-xs-12 col-md-12 col-lg-12 item-row">
	
		<!-- product image -->
		<div class="col-md-6 col-lg-6  col-sm-12 col-xs-12">
			<%= image_tag(product.image_url, :class => "img-responsive") %>
		</div>

		<!-- product information -->
		<div class="col-md-6 col-lg-6  col-sm-12 col-xs-12">

			<!-- Name -->
			<div class="row">
				<div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 ">
					<p style="font-size: 24px;"><%=product.name%></p>
				</div>
			</div> 

			<!-- Description -->
			<div class="row">
				<div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 ">
					<p class="description">
						<%= product.decription %> 
					</p>
				</div>
			</div>

			<!-- Rating -->
			<div class="row">
				<div class="col-md-6">
					<span class="sr-only">Four out of Five Stars</span>
  					<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
  					<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
  					<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
  					<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
  					<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
  					<span class="label label-success">18</span>
				</div>
				<div class="col-md-6">
					<span class="monospaced">Write a review</span>
				</div>
			</div>

			<!-- Price -->
			<div class="row">
				<div class="bottom-rule col-md-12 col-sm-12 col-lg-12 col-xs-12 ">
					<h2 style="border-bottom: dotted;"><%= product.price %>£</h2>
				</div>
			</div>

			<!-- Quantity -->
			<div class="row add-to-cart">
				<div class="col-md-12 col-sm-12 col-lg-12 col-xs-12  product-qty">
					
					<span class="btn btn-default btn-lg btn-qty">
						<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
					</span>
					
					<input class="btn btn-default btn-lg btn-qty" value="1" />
					
					<span class="btn btn-default btn-lg btn-qty">
						<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
					</span>

				</div>

			</div>
			
			<br>
			
			<!-- Add to cart button -->
			<div class="row">
				<div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 ">
					<button class="btn btn-lg btn-brand btn-full-width">Add to cart</button>
				</div>
			</div>
			<br>
			<!--Product Nav Tabs -->
			<div class="row">
				<div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 ">
					
					<!-- Nav Tabs -->
					<ul class="nav nav-tabs" role="tablist" >

						<li role="presentation" class="active">
							<a href="#<%= product.id %>description" data-toggle="tab" role="tab">Description</a>
						</li>
						
						<li role="presentation">
							<a href="#<%= product.id %>notes" data-toggle="tab" role="tab">Notes</a>
						</li>
						
						<li role="presentation">
							<a href="#<%= product.id %>reviews" data-toggle="tab" role="tab">Reviews</a>
						</li>

					</ul>

					<!-- Tab Panes -->
					<div class="tab-content">

						<div  class="tab-pane active" role="tabpanel" id="<%=product.id%>description">
							<%= product.decription %>
						</div>

						<div  class="tab-pane" role="tabpanel" id="<%=product.id%>notes">
							NOTES COMING SOON
						</div>

						<div  class="tab-pane" role="tabpanel" id="<%=product.id%>reviews">
							REVIEWS COMING SOON
						</div>

					</div>

				</div><!-- Nav grid end-->

			</div> <!--Nav row end -->

		</div> <!-- product info end -->
	
	</div> <!-- Main row end -->
	<% end %>
</div>