<div class="sign_up_form">

  <header>Sign up</header>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
  
  <div class="sign_up_field">

    <div class="field">
      <%= f.label :email, "EMAIL", :class => 'sign_up_input', :style => "background-color: #1695A3; color: #FFFFFF;"  %><br />
      <%= f.email_field :email, autofocus: true, :class => 'sign_up_input' %>
    </div>

    <div class="field">
      <%= f.label :password, "PASSWORD", :class => 'sign_up_input', :style => "background-color: #1695A3; color: #FFFFFF;" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off", :class => 'sign_up_input' %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "CONFIRM YOUR PASSWORD", :class => 'sign_up_input', :style => "background-color: #1695A3; color: #FFFFFF;" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'sign_up_input' %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", :class => 'sign_up_button' %>
    </div>
    <% end %>
  
    <div class="sign_up_help">
      <p style="font-size: 16px; display: inline-block; float: left;">Already registered?</p>
      <%= render "devise/shared/links" %>
    </div>

  </div> <!-- sign_up_field -->
</div>