<div class="forgot_form">

	<header>Reset your password</header>

	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
	  <%= devise_error_messages! %>

	<div class="forgot_field">

		<div class="field">
			<%= f.label :email, "EMAIL", :class => "forgot_input", :style => "background-color: #1695A3; color: #FFFFFF;" %><br />
		    <%= f.email_field :email, autofocus: true, :class => "forgot_input" %>
		</div>

		<div class="actions">
			<%= f.submit "RESET PASSWORD", :class => "forgot_button" %>
		</div>
		
		<% end %>

		<div class="forgot_help">
			<%= render "devise/shared/links" %>
		</div>
	
	</div>
</div>