<!-- Partial for shopping cart -->
<div class="container-fluid" id="cart-row">
  
  <!-- Shopping cart table -->
  <table id="cart" class="table table-hover table-condensed">
        
    <thead>
      <tr>
        <th style="width:50%">Product Info</th>
        <th style="width:10%">Price</th>
        <th style="width:8%">Quantity</th>
        <th style="width:22%" class="text-center">Subtotal</th>
        <th style="width:10%"></th>
      </tr>
    </thead>
          
    <tbody>
      <tr>
        
        <!-- Product-Name/Image/Desc -->
        <td data-th="Product">
          <div class="row">
            <div class="col-sm-2">
              <%= image_tag(product.image_url, :class => "img-responsive") %>  
            </div>
                  
            <div class="col-sm-10">
              <h4 class="nomargin"> <%=product.name%> </h4>
              <p><%=product.decription%></p>
            </div>  
          </div>    
        </td>

        <!-- Item Price, Quantity and Subtotal -->
        <td data-th="Price">
          <%= number_to_currency order_item.unit_price %>
        </td>
              
        <%= form_for order_item, remote: true do |f| %>    
        <td data-th="Quantity">
          <%= f.number_field :quantity, value: order_item.quantity.to_i, class: "form-control", min: 1 %>
        </td>
              
        <td data-th="Subtotal" class="text-center">
          <%= number_to_currency order_item.total_price %>
        </td>

        <!-- Update/Remove Item buttons -->
        <td class="actions" data-th="">  
          <%= f.submit "Update Quantity", class: "btn btn-info btn-sm", :onclick => "history.go(0)" %>  
        <%end%>

          <%= link_to "Remove", order_item, { data: { confirm: "Are you sure you wish to remove the product '#{order_item.product.name}' from your cart?" }, method: :delete, remote: true, class: "btn btn-danger btn-sm", :onclick => "history.go(0)" } %>               
        </td>
            
      </tr>
    </tbody>
          
    <tfoot>    
      <tr>
        <!-- Link to products page -->
        <td><%= link_to "Continue Shopping", 'static_pages/shop', :class => "btn btn-warning" %></td>

          <td colspan="2" class="hidden-xs"></td>
          
          <!-- Total amount due -->
          <td class="hidden-xs text-center">
            <strong>Total: <%= number_to_currency current_order.total %></strong>
          </td>
          
          <!-- Payment! -->
          <td><%= link_to "Checkout", 'carts/checkout', :class => "btn btn-success" %></td>
      </tr>
    </tfoot>

  </table>
  
</div>
