<div class="container-fluid" id="shopping-cart">
  <div class="row">
    
    <!-- Alerts and Notifications -->
    <div class="shop-cart-alerts">
      <% if !@order_item.nil? && @order_item.errors.any? %>
        <div class="alert alert-danger">
          <ul>
          <% @order_item.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    </div>
    
    <!-- Notifications in case of empty cart -->
    <% if @order_items.size == 0 %>
      <p class="text-center">
        There are no items in your shopping cart.  Please <%= link_to "go back", root_path %> and add some items to your cart.
      </p>
    
    <% else %>
    <!-- Listing shopping cart items -->
      <% @order_items.each do |order_item| %>
        <%= render 'cart_row', product: order_item.product, order_item: order_item, show_total: true %>
      <% end %>

      <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
      <!-- Link to products page -->
      <%= link_to "Continue Shopping", 'static_pages/shop', :class => "btn btn-warning btn-sm col-md-4 col-sm-4 col-lg-4" %>
          
      <!-- Total amount due -->
      <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4 text-center">
        <strong>Total: <%= number_to_currency current_order.total %></strong>
      </div>
          
      <!-- Payment! -->
      <%= link_to "Checkout", 'carts/checkout', :class => "btn btn-success btn-sm col-md-4 col-sm-4 col-lg-4 col-xs-4" %>
      </div>
    
    <% end %>
  </div> <!-- Row end -->

</div> <!-- Container end -->