<p id="notice"><%= notice %></p>
<div class="row" style="margin-left:5px; margin-right:5px;">
  <h1>Listing Products</h1>
  <div class="panel panel-primary filterable">
    
    <div class="panel-heading">

      <h2 class="panel-title">Products</h2>
      <div class="pull-right">
        <%= link_to 'Add', new_product_path, :class => 'btn btn-default btn-sm glyphicon glyphicon-plus-sign' %>
      </div>
    </div>
    <!-- Table columns -->
    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead>
          <tr class="filters">
            <th><input type="text" class="form-control" placeholder="Name"></th>
            <th><input type="text" class="form-control" placeholder="Description" ></th>
            <th><input type="text" class="form-control" placeholder="Image Url" ></th>
            <th><input type="text" class="form-control" placeholder="New?" ></th>
            <th><input type="text" class="form-control" placeholder="Price"></th>
            <th><input type="text" class="form-control" placeholder="Colour"></th>
            <th colspan="3"></th>
          </tr>
        </thead>
        
        <!-- Table contents -->
        <tbody>
          <% @products.each do |product| %>
            <tr>
              <td><%= product.name %></td>
              <td><%= product.decription %></td>
              <td><%= product.image_url %></td>

              <% if (product.brand_new == true) %>
                <td style="color: green;"><%= "Yes" %></td>
              <% end %>
              
              <% if (product.brand_new == false) %>
                <td style="color: red;"><%= "No" %></td>
              <% end %>
              
              <td><%= product.price %></td>
              <td><%= product.colour %></td>

              <!-- link to product information -->
              <td><%= link_to '', product, :class => 'glyphicon glyphicon-info-sign', :style => 'background: none;'  %></td>

              <!-- link to product editing -->
              <td><%= link_to '', edit_product_path(product), :class => 'glyphicon glyphicon-edit', :style => 'background: none;' %></td>

              <!-- link to product removal -->
              <td><%= link_to '', product, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'glyphicon glyphicon-remove', :style => 'background: none;'  %></td>
            
            </tr>
          <% end %>

        </tbody>
      </table>
    </div>

  </div>
</div>

